<div class="page-description">
  <p class="welcome">This lookup service is provided by the <a href="https://bluecore.info/" target="_blank">Blue Core</a> project to support authority <b>lookup for single terms</b> and <b>search for terms</b> matching a query. It is maintained and operated by
    <a href="http://www.library.cornell.edu/" target="_blank">Cornell University Library</a>.
    See <a href="<%= "#{main_app.root_path}usage" %>">Usage</a> for more information on the API.</p>
  <p class="welcome2">The Blue Core Look-UP (BCL-UP) service is an evolution of the LD4P Lookup Service that was built as part of the 
    <a href="https://confluence.cornell.edu/x/NZT9I" target="_blank">Linked Data for Libraries - Labs</a> and 
    <a href="https://app.browsertrix.com/explore/stanford/collections/linked-data-for-libraries-wikis#url=https%3A%2F%2Fwiki.lyrasis.org%2Fdisplay%2FLD4P3%2F&ts=20250303124716" class="navbar-link" target="_blank">Linked Data for Production</a>
    projects that were funded through grants from the <a href="https://mellon.org/" target="_blank">Andrew W. Mellon Foundation</a>.</p>

</div>
