img.footer-logo {
  margin-top: 12px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 20px;
  height: 32px;
}

div.footer-logos {
  width: 100%;
  background-color: $bc-blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue-core-logo {
  background-color: $bc-white;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  width: 124px;
  padding-left: 8px;
}
.navbar-text {
  color: $bc-white !important;
}

div.footer-logos a {
  border: none;
}

footer {
  margin-top: 50px;
}
