html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: $bc-white !important;
  font-size: $bc-font-size !important;
}

.flex {
  display: flex;
  &.center {
    justify-content: center;
    align-items: center;
  }
}

.round {
  border-radius: 4px;
}
.pad-0 {
  padding: 0;
}
.m-0 {
  margin: 0;
}
#content-wrapper {
  flex: 1 0 auto;
}

footer.site-footer {
  flex-shrink: 0;
}

#skiptocontent {
  visibility: hidden;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}
.container-fluid {
  background-color: $bc-darkblue;
}

.bluecore-identity .container {
  display: flex;
  justify-content: center;
  background: $bc-white none repeat scroll 0 0;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 4px;
}

div#content-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $bc-white;
  margin: 1em 0;
  padding: 0;
  margin-top: 40px;
}

h4 {
  margin-top: 40px;
}

.alert-error {
  color: red;
}